/* estilos generales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gainsboro;
}


h1 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

span {
    color: red;
}

h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
    font-weight: bold;
}

/* modificando bootstrap */

.barra-nav {
    background-color: grey !important;
}

.inicio-1 {
    color: red;
    font-weight: bold;
    font-size: 2.2rem;
}

.nav-item {
    font-weight:800;
    font-size: 2rem;
}

.nav-item:hover {
    background-color: #eee;
    border-radius: 1rem;
}

/* pagina 1 inicio */

.presentacion-1 {
    display: flex;
    margin: 2rem;
    padding: 1rem;
    font-size: 1.8rem;
    text-align: justify;
}

.presentacion-2 {
    display: flex;
    margin: 2rem;
    padding: 1rem;
    font-size: 1.8rem;
    text-align: justify;
}

.imagen-1 {
    display: flex;
    justify-content: center;
    margin: 1rem;

}

.imagen-1 img {
    width: 62.5rem;
    border-radius: 1rem;
    max-width: 100%;
    height: auto;
}

/* pagina 2 juegos */

h2 {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.portada-juego {
    height: 20rem;
    width: 15rem;
    margin: 2rem;
    object-fit: cover;
    border-radius: 1rem;
}

.descripcion-juego {
    font-weight: bold;
    text-align: justify;
    margin: 1rem;
}

/* pagina 3 peliculas */

.portada-pelicula {
    height: 20rem;
    width: 15rem;
    margin: 2rem;
    object-fit: cover;
    border-radius: 1rem;
}

.descripcion-pelicula {
    font-weight: bold;
    text-align: justify;
    margin: 1rem;
}

/* pagina 4 libros */

.portada-libro {
    height: 20rem;
    width: 15rem;
    margin: 2rem;
    border-radius: 1rem;
}

.descripcion-libro {
    font-weight: bold;
    text-align: justify;
    margin: 1rem;
}

/* pagina 5 compra */

.compra-1 {  
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.imagen-compra-1 {
    border-radius: 1rem;
    width: 62.5rem;
    max-width: 100%;
    height: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.compra-2 {  
    display: flex;
    justify-content: center;
}


.imagen-compra-2 {
    border-radius: 1rem;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-top: 3rem;
}